@model LunaryCore.Models.Restaurante

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Excluir";
}

<link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.rtl.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.rtl.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.rtl.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-grid.rtl.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.rtl.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.rtl.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.rtl.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-reboot.rtl.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.rtl.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.rtl.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.rtl.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap-utilities.rtl.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.min.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.rtl.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.rtl.css.map"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.rtl.min.css"/>
    <link href="~/bootstrap-5.1.3-dist/css/bootstrap.rtl.min.css.map"/>

    
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.bundle.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.bundle.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.esm.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.esm.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.esm.min.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.esm.min.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.js.map" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.min.js" />
    <link href="~/bootstrap-5.1.3-dist/js/bootstrap.min.js.map" />
   

<h2>Excluir</h2>

<div>
    <form action="/Admin/ExcluirConfirmar?id=@Model.RESTAUID" enctype="multipart/form-data" method="post">
        <label>Prato: </label>
        <label>@Model.RESTANOME</label>

        <div>
            <label>Preço: </label>
            <label>@Model.RESTAPRECO.ToString("F")</label>

        </div>

        <div>
            <label>Descrição: </label>
            <label>@Model.RESTADESCRICAO</label>

        </div>

        <div>
            <label>Preço Promocional: </label>
            <label>@Model.RESTAPREPROMOCAO.ToString("F")</label>
        </div>

        <div>
            <label>Categoria: </label>
            <label>@Model.RESTACATEGORIA</label>
        </div>

        
        <div>
            <label>Disponibilidade: </label>
            @if (Model.Disponibilidade)
            {
                <label>Disponivel</label>
            }
            else
            {
                <label>Não Disponivel</label>
            }
        </div>
        <div>
            <label>Oferta do dia: </label>
            @if (Model.Oferta)
            {
                <label>Ativado</label>
            }
            else
            {
                <label>Não Ativado</label>
            }
        </div>

        <div>
            <label>Imagem: </label>
            <label>
                @{
                    if (Model.imagem != null)
                    {
                        var base64 = Convert.ToBase64String(Model.imagem);
                        var imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);
                        <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
                    }
                    else
                    {
                        <label>Sem Imagem</label>
                    }
                        }
             </label>
           
        </div>


        <div>
            <a href="/Admin/ListPratos"> <button type="button" class="btn btn-primary">Voltar</button></a>
            <a href="/Admin/ListPratos"><button type="submit" class="btn btn-danger">Excluir</button> </a>
        </div>

    </form>

</div>